{% extends "base.html" %}

{% block content %}
<div class="dashboard">
    <nav class="sidebar">
        <h1>Leads</h1>
        {% for lead in leads %}
            <div class="nav-item" data-lead-email="{{ lead.email }}">
                <div class="name"><strong>{{ lead.name }}</strong></div>
                <div class="company_name">{{ lead.company_name | lower }}</div>
            </div>
        {% endfor %}
    </nav>
    
    <main class="content">
        <div id="lead-details" class="lead-details">
            <div class="placeholder">Select a lead to view details</div>
        </div>
    </main>
</div>
{% endblock %}
